.block {
  background-color: #ffaa87;
  display: flex;
  min-height: 155px;
  max-height: 155px;
  height: 31vw;
  align-items: flex-start;
  overflow-y: auto;

  &--1 {
    grid-area: a;
    background: #e8ebed;
  }

  &--2 {
    grid-area: b;
    background: #e8ebed;
  }

  &--3 {
    grid-area: c;
    background: #e8ebed;
  }

  &--4 {
    grid-area: d;
    background: #90bce8;
  }

  &--5 {
    grid-area: e;
    background: #febf26;
  }

  &--6 {
    background: #a2a9b7;
  }

  &--7,
  &--8 {
    min-height: 100px;
    min-width: 100px;
    max-height: 32vw;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    background: #a2a9b7;
    width: 100%;
    height: 32vw;

    @media(min-width: $until-tablet-width) {
      width: 100%;
      height: 31vw;
      max-width: 241px;
      max-height: 241px;
      font-size: 21px;
      line-height: 30px;
      color: #fff;
      background: #a2a9b7;
    }
  }

  &--9 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #e3ebd3;
    max-height: 243px;
    height: 31vw;
    max-width: 241px;
    max-height: 241px;
    width: 100%;
  }

  &--10 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #e3ebd3;
    background-image: url("../img/image.jpg");
    color: #ffffff;
    max-height: 243px;
    width: 100%;
    height: 31vw;
    max-width: 241px;
    max-height: 241px;
  }

  &--11 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #e3ebd3;
  }

  &--12 {
    grid-area: l;
    background: #ffaa87;
  }

  &--13 {
    grid-area: m;
    background: #ffaa87;
  }

  &--14 {
    grid-area: n;
    background: #c7abd4;
  }

  &--15 {
    grid-area: o;
    background: #ffaa87;
  }

  &--16 {
    grid-area: p;
    background: #f55e62;
  }

  &--square {
    overflow-y: auto;
    align-items: flex-start;
    grid-row: 1/-1;
    height: 66vw;
    min-height: 211px;
    width: 66vw;
    max-height: 66vw;

    @media (min-width: $until-tablet-width) {
      width: 100%;
      height: 63.97vw;
      max-width: 493.6px;
      max-height: 493.6px;
      min-height: 320px;
    }
  }

  &__container {
    @include container;

    @media (min-width: $until-tablet-width) {
      padding: 15px 15px 12px 18px;
    }

    &--square {
      padding: 20px 15px 13px 13px;

      @media (min-width: $until-tablet-width) {
        padding: 30px 45px 30px 30px;
      }
    }

    &--min {
      padding: 20px 15px 8px 10px;

      @media (min-width: $until-tablet-width) {
        padding: 15px;
      }
    }
  }

  &__text {
    @include font-text;
    @include container;
    display: flex;
    align-items: flex-end;
    min-height: 100%;

    @media (min-width: $until-tablet-width) {
      padding: 15px 15px 12px 18px;
    }

    &--square {
      padding: 20px 15px 13px 13px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
      align-items: flex-start;

      @media (min-width: $until-tablet-width) {
        padding: 30px 45px 30px 30px;
      }
    }

    &--min {
      padding: 20px 15px 8px 10px;

      @media (min-width: $until-tablet-width) {
        padding: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

