.block {
  @include for-ie {
    margin-bottom: 10px;
  }

  background-color: #ffaa87;
  display: flex;
  min-height: 155px;
  max-height: 155px;
  height: 31vw;
  align-items: flex-start;
  overflow-y: auto;
  margin-bottom: 0;

  &--1 {
    grid-area: a;
    background: #e8ebed;
  }

  &--2 {
    grid-area: b;
    background: #e8ebed;
  }

  &--3 {
    grid-area: c;
    background: #e8ebed;
  }

  &--4 {
    grid-area: d;
    background: #90bce8;
  }

  &--5 {
    grid-area: e;
    background: #febf26;
  }

  &--6,
  &--11 {
    overflow-y: auto;
    align-items: flex-start;
    height: 66vw;
    max-width: 66vw;
    min-width: 211px;
    position: relative;
    margin: auto;
    max-height: 66vw;

    &::before {
      content: "";
      padding-top: 100%;
      float: left;
    }
  }

  &--6 {
    background: #a2a9b7;

    @media (min-width: $until-tablet-width) {
      max-width: 66%;
      max-height: 63.9vw;
    }

    @media (min-width: $tablet-width) {
      min-width: 493.5px;
      min-height: 493.5px;
      max-width: 493.5px;
      max-height: 493.5px;
    }
  }

  &--7,
  &--8 {
    min-height: 100px;
    min-width: 100px;
    max-height: 32vw;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    background: #a2a9b7;
    height: 100%;
    margin-bottom: 10px;

    @media (min-width: $until-tablet-width) {
      width: 100%;
      max-width: 241px;
      max-height: 241px;
      font-size: 21px;
      line-height: 30px;
      color: #ffffff;
      background: #a2a9b7;
    }
  }

  &--8 {
    margin-bottom: 0;
  }

  &--9 {
    background-color: #e3ebd3;
    width: 100%;
    height: 100%;
    max-width: 241px;
    max-height: 241px;
    margin-bottom: 10px;
    min-height: auto;
  }

  &--10 {
    background-color: #e3ebd3;
    background-image: url("../img/image.jpg");
    color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 241px;
    max-height: 241px;
    min-height: auto;
  }

  &--11 {
    background-color: #e3ebd3;

    @media (min-width: $until-tablet-width) {
      max-height: 64.2vw;
      width: 205%;
    }

    @media (min-width: $tablet-width) {
      min-width: 493.5px;
      min-height: 493.5px;
      max-width: 493.5px;
      max-height: 493.5px;
    }
  }

  &--12 {
    grid-area: l;
    background: #ffaa87;
  }

  &--13 {
    grid-area: m;
    background: #ffaa87;
  }

  &--14 {
    grid-area: n;
    background: #c7abd4;
  }

  &--15 {
    grid-area: o;
    background: #ffaa87;
  }

  &--16 {
    grid-area: p;
    background: #f55e62;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;

    &--2 {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  &__text {
    @include font-text;
    @include container;
    display: flex;
    align-items: flex-end;
    margin-bottom: auto;
    min-height: 100%;

    @media (min-width: $until-tablet-width) {
      padding: 15px 15px 12px 18px;
    }

    &--square {
      padding: 20px 15px 13px 13px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
      align-items: flex-start;

      @media (min-width: $until-tablet-width) {
        padding: 30px 45px 30px 30px;
      }
    }

    &--min {
      padding: 20px 15px 8px 10px;

      @media (min-width: $until-tablet-width) {
        padding: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

