.id-card {
  background-color: #e3ebd3;

  &__list {
    @include container;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 15px 15px 15px 18px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    align-items: flex-end;
  }

  &__text {
    display: inline-block;

    &--left {
      text-align: left;
      overflow: hidden;
      width: 100%;
    }

    &--right {
      text-align: right;
    }
  }

  &__text-wrapper {
    @include font-text;
    font-family: "notosans", "Arial", sans-serif;
    max-width: 220px;
    position: relative;
    display: inline-block;

    &--left {
      &::after {
        content: "";
        position: absolute;
        width: 800%;
        left: auto;
        margin-left: 10px;
        bottom: 0;
        display: inline-block;
        border-bottom: 1px dashed #000000;
      }
    }

    &--right {

      text-align: right;

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px dashed #000000;
      }
    }
  }

  &__text-wrapper-line {
    display: inline;
    position: relative;
    box-shadow: -4px 10px 0 8px #e3ebd3;
    border-width: 100%;
    padding-left: 0;
    margin-right: 0;
  }
}
