body {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
